<!DOCTYPE html>
<html lang="es">
  <head>
    <title>Mis Mascotas | Pet Care</title>
  </head>

  <body>
    <!-- Vista de Dashboard -->
    <section id="dashboard">
      <div class="dashboard-header">
        <h2>Mis Mascotas</h2>
        <div>
          <button id="add-pet-btn">Agregar mascota</button>
          <button id="add-user-btn">Agregar usuario</button>
          <button id="add-stay-btn">Agregar estancia</button>
          <button id="go-home-btn">Ir al inicio</button>
          <button id="logout-btn">Cerrar sesión</button>
        </div>
      </div>

      <div id="pet-form-modal" class="modal hidden">
        <div class="modal-content">
          <h3>Agregar Nueva Mascota</h3>
          <form id="pet-form">
            <input
              type="text"
              id="pet-name"
              placeholder="Nombre de la mascota"
              required
            />
            <input type="number" id="pet-weight" placeholder="Peso de la mascota (KG)" required />

            <input
              type="number"
              id="pet-age"
              placeholder="Edad (años)"
              required
              min="0"
            />

            <input
              type="text"
              id="pet-race"
              placeholder="Raza de la mascota"
              required
            />

            <input
              type="text"
              id="pet-details"
              placeholder="Anotaciones adicionales (opcional)"
            />

            <input
              type="text"
              id="pet-temperament"
              placeholder="Temperamento de la mascota"
              required
            />

            <input
              type="url"
              id="pet-image"
              placeholder="URL de imagen (opcional)"
            />

            <div class="form-buttons">
              <button type="submit">Guardar</button>
              <button type="button" id="cancel-pet-form">Cancelar</button>
            </div>
          </form>
        </div>
      </div>

      <div class="pets-container" id="pets-container">
        <!-- Aquí se insertarán dinámicamente las mascotas -->
      </div>
    </section>
  </body>
</html>
